[submodule "GolfDash/Libraries/GLFW"]
	path = GolfDash/Libraries/GLFW
	url = https://github.com/EddeDev/glfw.git
[submodule "GolfDash/Libraries/glm"]
	path = GolfDash/Libraries/glm
	url = https://github.com/g-truc/glm.git
